<div class="container-fluid"style="max-width: 100%;overflow: auto;">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800"></h1>
    </div>


    <div class="example-header">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($any($event.target).value)" placeholder="Filter">
        </mat-form-field>
    </div>

    <div class="example-container mat-elevation-z8">

        <mat-table [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="flightId">
                <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.flightId}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="flightCode">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Flight Code </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.flightCode}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="airlineName">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Airline Name </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.airlineName}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="fromCity">
                <mat-header-cell *matHeaderCellDef mat-sort-header> From City </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.fromCity}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="fromAirport">
                <mat-header-cell *matHeaderCellDef mat-sort-header> From Airport </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.fromAirport}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="departureTime">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Departure Time </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.departureTime | date:'short'}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="arrivalTime">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Arrival Time </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.arrivalTime | date:'short'}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="toCity">
                <mat-header-cell *matHeaderCellDef mat-sort-header> To City </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.toCity}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="toAirport">
                <mat-header-cell *matHeaderCellDef mat-sort-header> To Airport </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.toAirport}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="economyTickets">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Economy Tickets </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.economyTickets}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="businessTickets">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Business Tickets </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.businessTickets}} </mat-cell>
            </ng-container>




            <!-- <ng-container matColumnDef="details">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Details </mat-header-cell>
                <mat-cell *matCellDef="let row"> <a [routerLink]="['/home/project/',row.projectId]"><button mat-mini-fab color="primary" aria-label="menu icon">
                <mat-icon>menu</mat-icon>
              </button></a> </mat-cell>
            </ng-container> -->

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;">
            </mat-row>
        </mat-table>

        <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
    </div>
    <!-- <add-project-button></add-project-button> -->
</div>