.row-wrap {
    text-align: center;
    float: left;
    margin: 0 10px;
  }
  
  .row-middle {
    font-size: 14px;
  }

  .row-top {
      font-size: 16px;
  }

  .row-bottom {
    font-size: 15px;
    font-weight: bold;
}
.data {
  font-size: 16px;
  font-weight: bold;
}