mat-toolbar {
    //background: #004a9f;
    //background-image: linear-gradient(180deg,#58065b 10%,#161924);
    background-image: linear-gradient(90deg, #415368 10%, #222a37);
    //background-image: linear-gradient(90deg, #0d6c7b 10%, #162420);
    color: white;
}

mat-sidenav {
    margin: 16px;
    width: 200px;
    border-right: none;
    // background: #002b5c;
    background-image: linear-gradient(180deg, #415368 10%, #222a377a),url("https://images.unsplash.com/photo-1487621167305-5d248087c724?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1932&q=80");
    //background-image: linear-gradient(180deg, #0d6c7b 10%, #162420);
    color: white;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
}


.content {
    height: calc(100vh - 98px);
    border-radius: 10px;
    margin: 16px;
    margin-left: 32px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2rem;
    color: lightgray;
}

mat-sidenav-container {
    height: calc(100vh - 65px);
}

.menu-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;

    mat-icon {
        margin-right: 8px;
    }
}

.avatar {
    margin-top: 16px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.name {
    margin-top: 8px;
    font-weight: normal;
}

.designation {
    margin-top: 2px;
    font-size: 0.7rem;
    color: lightgrey;
}

mat-divider {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: rgba(255, 255, 255, 0.5);
}
