<div mat-dialog-content>
    <div class="container-fluid popwindow">
        <div class="user-form">
            <form #userForm="ngForm" class="add-project-form" [formGroup]="updateAddressForm">
                <mat-form-field class="form-full-width">
                    <mat-label>Street</mat-label>
                    <input matInput placeholder="Street" [formControlName]="'street'" [errorStateMatcher]="matcher" readonly>
                    <mat-error *ngIf="updateAddressForm.get('street')!.hasError('required')">
                        Street is <strong>required</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="form-full-width">
                    <textarea matInput placeholder="City" [formControlName]="'city'" [errorStateMatcher]="matcher"></textarea>
                    <mat-error *ngIf="updateAddressForm.get('city')!.hasError('required')">
                        City is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="form-full-width">
                    <textarea matInput placeholder="State/Province" [formControlName]="'stateProvince'" [errorStateMatcher]="matcher"></textarea>
                    <mat-error *ngIf="updateAddressForm.get('stateProvince')!.hasError('required')">
                        State/Province is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="form-full-width">
                    <textarea matInput placeholder="Zip/Postal Code" [formControlName]="'zipCode'" [errorStateMatcher]="matcher"></textarea>
                    <mat-error *ngIf="updateAddressForm.get('zipCode')!.hasError('required')">
                        Zip/Postal code is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="form-full-width">
                    <textarea matInput placeholder="Country" [formControlName]="'country'" [errorStateMatcher]="matcher"></textarea>
                    <mat-error *ngIf="updateAddressForm.get('country')!.hasError('required')">
                        Country is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                               
                <button (click)="updateAddress(userForm)" mat-raised-button color="primary" [disabled]="!updateAddressForm.valid">Update Address</button>
            </form>

        </div>
    </div>
</div>
